@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Open-sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    margin: 0;
    padding: 0;
    text-align: center;
  
}
